*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--poppins);
}
h1{
  text-shadow: 0 0 6px var(--blue);
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--white);
}
.review{
  width: 95%;
  max-height: 100vh;
  color: var(--lightblue);
  background-color: var(--secondaryDarkColor);
  margin: 0 auto;
  padding-bottom: 17px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  /* border-bottom-left-radius: 10px; */
}
.review-cards{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin-bottom: 10px; */
}
.name{
  cursor: pointer;
  font-size: 0.8rem;
  position: relative;
  /* left: 10px; */
  margin-left: 10px;
  color: var(--blue);
  letter-spacing: 2px;
  padding-top: 10px;
}
.rating{
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}
.rating i{
  font-size: 0.5rem;
  color: yellow;
  position: relative;
}
.content{
  font-size: 0.8rem;
  margin-left: 10px;
}
.rating span{
  font-size: 0.7rem;
}
.review:hover{
  box-shadow: 0 0 10px var(--secondaryDarkColor);
  transform: translateY(-3px);
  transition: 0.3s all ease;
}

.dots{
  margin: 0 auto;
  background-color: var(--secondaryDarkColor);
  width: 30%;
  height: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 4px;
}
.dot{
  background-color: var(--blue);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: blur 1s infinite alternate;
}
.dots .dot:nth-child(2){
  animation-delay: 200ms;
}
.dots .dot:nth-child(3){
  animation-delay: 200ms;
}
@keyframes blur {
  to{
    filter: blur(2px);
    opacity: 0.3;
  }
}@media (max-width:200px){
  body{
    background-repeat: repeat;
  }
  h1{
    font-size: 0.8rem;
  }
  .content{
    font-size: 0.4rem;
  }
  .name{
    font-size: 0.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }
  .rating i{
    font-size: 0.4rem;
  }
  .content{
    font-size: 5px;
  }
  .dots{
    width: 80%;
    height: 0.8rem;
    justify-content: center;
    gap: 2px;
  }
  .dot{
    padding: 2px;
    width: 5px;
    height: 5px;
  }
}